/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* VARIABLES CSS */
:root {
  /* Colors */
  /* Color mode HSL(hue, saturation, lightness) */
  /*
      Blue: hsl(207, 90%, 61%)
      Purple: hsl(250, 66%, 75%)
      Pink: hsl(356, 66%, 75%)
      Teal: hsl(174, 63%, 62%)
  */
  --hue: 940;
  --sat: 65%;
  --lig: 50%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 17%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /* Font and typography */
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 968px) {
  :root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  cursor: none !important;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.3s; /* For animation dark mode */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* THEME */
.change-theme {
  position: absolute;
  top: 2.66rem;
  right: 25%;
  font-size: 1.35rem;
  color: var(--title-color);
}

.change-theme:hover {
  color: var(--first-color);
}

/* Variables Dark theme */
body.dark-theme {
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --body-color: hsl(var(--hue), 40%, 8%);
  --container-color: hsl(var(--hue), 24%, 12%);
}

/* NAVBAR */
.navbar {
  text-align: center;
  margin-top: 1.69rem;
  font-size: var(--h3-font-size);
}

.navbar-nav a {
  color: var(--text-color);
  padding-right: 1.7rem !important;
}

.navbar-nav a:hover {
  color: var(--first-color) !important;
}

.active {
  color: var(--first-color) !important;
}

.navbar-nav a:focus {
  color: var(--first-color);
}

/* LOADER */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color-alt);
  transition: opacity 2s, visibility 2s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 55px;
  height: 55px;
  border: 2.5px solid #fff;
  border-top-color: var(--first-color);
  border-radius: 50%;
  animation: loading 0.6s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* HAMBURGER MENU */
.hamburger input {
  display: none;
}
.hamburger svg {
  height: 2em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line {
  fill: none;
  stroke: var(--first-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line-top-bottom {
  stroke-dasharray: 12 63;
}
.hamburger input:checked + svg {
  transform: rotate(-45deg);
}
.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
.navbar-toggler,
.navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important ;
}

/* MAIN STYLE */
.container {
  padding: 6rem 4rem;
}
.profile__perfil {
  width: 360px;
  height: 360px;
  background: linear-gradient(
    180deg,
    hsla(var(--hue), var(--sat), var(--lig), 1) 0%,
    hsla(var(--hue), var(--sat), var(--lig), 0.2) 100%
  );
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.profile__perfil img {
  margin-top: 2rem;
  max-width: 170% !important;
  max-height: 120% !important;
}
.profile__border {
  border: 3.5px solid var(--first-color);
  justify-self: center;
  width: 375px;
  height: 375px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}
.profile__social {
  display: flex;
  justify-content: start;
  column-gap: 0.95rem;
  margin-right: 1.9rem;
}
.profile__social-link {
  font-size: 2.2rem;
  color: var(--title-color);
  transition: 0.3s;
}
.profile__social-link:hover {
  color: var(--first-color);
}
.tech {
  display: flex;
}
.tech__items box-icon {
  height: auto;
  margin-left: 0.5rem !important;
  transition: 0.5s;
  width: 3.5rem !important;
}
.tech__items box-icon:hover {
  transform: translateY(-10px);
}
.see_more .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
}

/* ABOUT */
#about img {
  box-shadow: 0px 8px 45px var(--first-color-alt);
}
.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.67rem 1.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
}
.button i {
  font-size: 1.25rem;
}
.button:hover {
  background-color: var(--first-color-alt);
}

/* EDUCATION */
#education .container {
  padding: 2rem 10rem;
}
#education h3,
.card-header {
  color: var(--first-color) !important;
}
#education span {
  color: var(--title-color);
}
.first,
.second {
  border-left: 4px solid var(--first-color);
}
.card-text {
  color: var(--text-color);
}
.card,
.card-header {
  background-color: transparent !important;
  border: none !important;
  color: var(--title-color);
}
/* FOOTER */
.footer__copy {
  display: block;
  margin: 2.5rem 0 2rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/* SCROLL */
.progress-wrap {
  position: fixed;
  right: 20px;
  bottom: 32px;
  height: 46px;
  width: 46px;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(193, 193, 193, 0.544);
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f062";
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  color: var(--first-color);
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  display: block;
  z-index: 1;
  transition: all 200ms linear;
}

.lightScrollIcon::after {
  color: var(--first-color) !important;
}

.progress-wrap:hover::after {
  opacity: 0;
}

.progress-wrap::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f062";
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  opacity: 0;
  background-image: linear-gradient(298deg, #ffffff, #005eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: var(--first-color);
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 200ms linear;
}

.footer_icons i {
  color: var(--first-color) !important;
  font-size: 1.3rem;
  transition: all 0.3s ease;
  margin: 0rem 0.5rem;
}

.footer_icons i:hover {
  transform: scale(1.1);
}

/* CUSTOM CURSOR */
.cursor {
  position: fixed;
  width: 38px;
  height: 38px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: all 0.1s;
  background-color: var(--first-color);
  opacity: 0.2;
  box-shadow: 0 0 10px 5px var(--first-color); /* Blue glowing effect */
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/*=============================================*/

/* For devices with a screen width up to 480px (smartphones) */
@media only screen and (max-width: 480px) {
  .change-theme {
    right: 8.6%;
    font-size: 1.4rem;
    top: 2.8rem;
  }
  .profile__border {
    width: 150px;
    height: 150px;
    margin: 0 auto 1rem auto;
    position: relative;
  }
  .profile__perfil {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile__perfil img {
    max-width: 78%;
    height: auto;
  }
  .tech {
    display: block;
    text-align: center;
  }
  .tech__items box-icon {
    width: 2.4rem !important;
    margin: 0 auto;
  }
  .container {
    padding: 3.3rem 1.6rem;
  }
  .navbar-nav a {
    padding-right: 0 !important;
  }
  .ri-arrow-up-line {
    font-size: 1rem;
  }
  .card-title h6 {
    font-size: var(--h3-font-size);
    font-weight: 600;
  }
  #education .container {
    padding: 1.5rem 2rem;
  }
  .cursor,
  .cursor2 {
    display: none;
  }
}

/* For devices with a screen width between 481px and 768px (landscape smartphones and small tablets) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Adjustments for this range of screen sizes */
  .change-theme {
    right: 8.6%;
    font-size: 1.2rem;
    top: 2.4rem;
  }
  .profile__border {
    width: 200px;
    height: 200px;
    margin: 0 auto 1rem auto;
    position: relative;
  }
  .profile__perfil {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile__perfil img {
    max-width: 78%;
    height: auto;
  }
  .tech {
    display: block;
    text-align: left;
  }
  .tech__items box-icon {
    width: 3rem !important;
    margin: 0 auto;
  }
  .container {
    padding: 3.2rem 2rem;
  }
  .navbar-nav a {
    padding-right: 0 !important;
  }
  .ri-arrow-up-line {
    font-size: 1rem;
  }
  .card-title h6 {
    font-size: var(--h3-font-size);
    font-weight: 600;
  }
  #education .container {
    padding: 1.8rem 3rem;
  }
  .cursor,
  .cursor2 {
    display: none;
  }
}

/* For devices with a screen width between 769px and 1024px (tablets and small laptops) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .change-theme {
    right: 8.6%;
    font-size: 1.4rem;
    top: 2.8rem;
  }
  .profile__border {
    width: 195px;
    height: 195px;
    margin: 0 auto 1rem auto;
    position: relative;
  }
  .profile__perfil {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile__perfil img {
    max-width: 78%;
    height: auto;
  }
  .tech {
    display: inline-block;
    text-align: left;
  }
  .tech__items box-icon {
    width: 3.2rem !important;
    margin-left: 0;
  }
  .container {
    padding: 1.6rem 2.4rem;
  }
  .navbar-nav a {
    padding-right: 0 !important;
  }
  .ri-arrow-up-line {
    font-size: 1.2rem;
  }
  .card-title h6 {
    font-size: var(--h3-font-size);
    font-weight: 600;
  }
  #education .container {
    padding: 2rem 3rem;
  }
  .cursor,
  .cursor2 {
    display: none;
  }
}

/* For devices with a screen width between 1025px and 1440px (standard laptops and desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .change-theme {
    right: 8.6%;
    font-size: 1.4rem;
    top: 2.4rem;
  }
  .profile__border {
    width: 260px;
    height: 260px;
    margin: 0 auto 1rem auto;
    position: relative;
  }
  .profile__perfil {
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile__perfil img {
    max-width: 78%;
    height: auto;
  }
  .tech {
    display: inline-block;
    text-align: left;
  }
  .tech__items box-icon {
    width: 3.5rem;
    margin-left: 0;
  }
  .container {
    padding: 1.4rem 2.8rem;
  }

  .ri-arrow-up-line {
    font-size: 1.4rem;
  }
  .card-title h6 {
    font-size: var(--h3-font-size);
    font-weight: 600;
  }
  #education .container {
    padding: 2.4rem 4rem;
  }
}

/* For devices with a screen width greater than 1440px (large desktops) */
@media only screen and (min-width: 1441px) {
  .change-theme {
    right: 8.6%;
    font-size: 1.6rem;
    top: 2.5rem;
  }
  .profile__border {
    width: 300px;
    height: 300px;
    margin: 0 auto 1rem auto;
    position: relative;
  }
  .profile__perfil {
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile__perfil img {
    max-width: 78%;
    height: auto;
  }
  .tech {
    display: inline-block;
    text-align: left;
  }
  .tech__items box-icon {
    width: 4rem;
    margin-left: 0;
  }
  .container {
    padding: 4.6rem 3.2rem;
  }

  .ri-arrow-up-line {
    font-size: 1.6rem;
  }
  .card-title h6 {
    font-size: var(--h3-font-size);
    font-weight: 600;
  }
  #education .container {
    padding: 2.8rem 4.8rem;
  }
}
